/*-------------------------
	Simple reset
--------------------------*/
*{
	margin:0;
	padding:0;
}

/*-------------------------
	General Styles
--------------------------*/

html{
        width: 100%;
        height:100%;
        background: url(domestic14.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body{
	background-color:transparent !important;
        /*height:1080px;
        width:1920px;*/
        text-align: center;
        justify-content: center;
}

h1{
	font-size: 70px;
	font-weight: 800;
	line-height: 66px;
	color: #FFF;
	font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
a, a:visited {
	text-decoration:none;
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

a.btn {
  width: 150px;
  height: 25px;
  background:#6496c8;  
  padding: 5px;
  text-align: center;
  text-shadow: -1px 1px #417cb8;
  border-radius: 5px;
  font-size: 20px;
  color: #FFF;
}
a.btn:hover {
  width: 150px;
  height: 25px;
  background: #346392;  
  padding: 5px;
  text-align: center;
  text-shadow: -1px 1px #417cb8;
  border-radius: 5px;
  font-size: 20px;
  color: #FFF;
}
section, footer, header{
	display: block;
}

#bigcenter {
	width: 100%;
	margin-top:150px;
	margin-bottom:15px;
}
#regbar {
	display: inline:block;
	box-sizing: border-box;
	text-align: center;
}
#textbox {
  font-size: 10px;
  font: sans-serif;
  margin-top: 5%;
  margin-left:35%;
  padding: 20px 10px 10px 20px;
  text-align: left; 	
  width: 30%;
  height: 50%;
  background:#FFF;  
  border: 1px solid gray;

}

.reg {
	float:left;
	display:block;
	box-sizing: border-box;
	text-align:center;
	vertical-align:middle;
}

input[type="text"] {
  font-size: 20px;
  margin: 0;
  width: 20%;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
.style1 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.style1 input[type="text"]:focus,
.style1 input[type="text"].focus{
  border: solid 5px #969696;
}
input[type="submit"] {
  padding: 10px;
  color: #FFF;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  font-size: 20px;
  width: 20%;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
input[type="submit"]:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}
th, td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
#result {
  font-size: 40px;
}

/*----------------------------
	The Chart
-----------------------------*/


#placeholder {
	width: 580px;
	border: 1px solid #CDCDCD;
	padding: 20px;
	border-radius: 3px;
	background-color: white;
	margin-bottom: 15px;
	position: relative;
	box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}

#content {
	margin: 0px auto;
	padding: 45px;
	position: relative;
	width: 590px;
}

#chart{
	width: 570px;
	height: 400px;
}

.ex-tooltip{
	position: absolute;
	background: #EEE;
	border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 1px 3px black;
	box-shadow: 0 1px 3px black;
	border-collapse: separate;
	display: none;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
	line-height: 1.4;
	margin-top: 0;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
