<html>
	<head>
		<!-- Latest compiled and minified Jquery -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<!-- Latest compiled and minified Jquery UI-->
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Dosis|Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified CSS -->
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css"> 
	</head>

	<body >
		<!--CONTAINER STARTS-->
			
			<!--HOME PAGE--> 		
   
				<div class="row  slide1 flow-text" >
				<!-- div  style="background-color: rgba(25, 24, 21, 0.3);" -->
				<div>
					<!--NAVIGATION BAR-->
					<div class="navbar-fixed red lighten-3">
					<nav class=" expand">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo center">&nbsp;&nbsp;Monetize your Rooftop</a>
					</div>
					</nav>
					</div>
					
				<!--NAVIGATION BAR ENDS-->
					<div class="container">
						<div class="row page1">
							<div class="col s8 offset-s2 center"><span style="color:#000;font-weight:500;">Zero Investment | Get free Electricity</span></div>
							<div class="col s2"></div>
						</div>
						<div class="row page2">
							<div class="col s8 offset-s2 center">
								<span style="color:#000;">Want to know how? <!-- Dropdown Trigger -->
									<a class="waves-effect waves-light btn modal-trigger" href="#modal1">See Yourself</a>
									<a class="waves-effect waves-light btn modal-trigger" href="#modal2">Go Solar</a>
								</span>
							</div>
							<div class="col s2"></div>
						</div>
					</div>
					
				</div> 
				</div>
			<!-- Modal Structure -->
			 
			<!--ABOUT PAGE-->	
				
			<!--IMPACT PAGE-->
				
			<!--CALCULATOR PAGE-->
				
			
			<!--FOOTER-->
			
			<div class="footer-copyright red lighten-1">
				<div class="container white-text">
            				&copy; Madowatt
            				<!--a class="grey-text text-lighten-4 right" href="#!">Social Links</a -->
            			</div>
			</div>
			<div id="modal2" class="modal bottom-sheet">
    				<div class="modal-content">
      				<div class="row  slide2  flow-text" id="customer-form">
				<div class="row">
		<!--<form class="col s12">-->
	    <form action = "/reg" accept-charset="utf-8" class="col s12">
		  <div class="row">
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">account_circle</i>
			  <!--<input id="icon_prefix" type="text" class="validate">-->
			  <input name="name" type="text" class="validate">
			  <label for="icon_prefix" class="grey-text text-darken-2">Name</label>
			</div>
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">phone</i>
			  <!--<input id="icon_telephone" type="tel" class="validate">-->
			  <input name="note" type="tel" class="validate">
			  <label for="icon_telephone" class="grey-text text-darken-2">Phone</label>
			</div>
		  </div>
		  <div class="row">
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">room</i>
			  <!--<input id="icon_prefix" type="text" class="validate">-->
			  <input name="city" type="text" class="validate">
			  <label for="icon_prefix" class="grey-text text-darken-2">City</label>
			</div>
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">email</i>
			  <!--<input id="icon_email" type="email" class="validate">-->
			  <input name="email" type="email" class="validate">
			  <label for="icon_email" class="grey-text text-darken-2">Email</label>
			</div>
		  </div>
		  <div class="row">
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">business</i>
			  <!--<input id="icon_locality" type="text" class="validate">-->
			  <input name="addr" type="text" class="validate">
			  <label for="icon_locality" class="grey-text text-darken-2">Locality</label>
			</div>
			<div class="input-field col m6 s12">
			  <i class="material-icons prefix grey-text text-darken-2">aspect_ratio</i>
			  <!--<input id="icon_rooftop" type="tel" class="validate">-->
			  <input name="area" type="text" class="validate">
			  <label for="icon_rooftop" class="grey-text text-darken-2">Rooftop Area (in SqFt)</label>
			</div>
		  </div>
		  <div class="row">
		  <div class="col offset-m5 m1 s12">
			  <input type="submit" value="Register"  />
			<!--<a class="waves-effect waves-light btn">Submit</a>-->
			</div>
		  </div>
		</form>
		</div>
	</div>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>	

			
	 <div id="modal1" class="modal">
				<div class="modal-content">
				 
				  <p>Beginning in 2015, every quarter we will install 100KW of solar PV systems on residential and commercial rooftops. If you are a home, office, school,hospital or a factory, then get solar panels installed on your roof for free and get free clean green energy for captive usage. 
When you register, one of our engineers will visit your site to check suitability and your current electricity consumption. We're looking for large unshaded roof tops on houses and offices. Depending on the roof space and quality available, we'll offer you a certain number of units of electricity free every month in exchange for allowing us to install the system. 
Go Solar today and help start an energy revolution</p>
				</div>
				<div class="modal-footer">
				  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
	</div>		
		<!--CONTAINER ENDS-->	
	</body>
	<script>
	$(document).ready(function(){
		//NAVBAR
		$(".button-collapse").sideNav();
		$('.modal-trigger').leanModal();
		$('#scroll-form').click(function(){
			  $('body').scrollTo('80',{duration:'slow'});
			}
		  );
		
	});	
if (window.addEventListener) window.addEventListener('DOMMouseScroll', wheel, false);
window.onmousewheel = document.onmousewheel = wheel;

function wheel(event) {
    var delta = 0;
    if (event.wheelDelta) delta = event.wheelDelta / 120;
    else if (event.detail) delta = -event.detail / 3;

    handle(delta);
    if (event.preventDefault) event.preventDefault();
    event.returnValue = false;
}

function handle(delta) {
    var time = 1000;
	var distance = 300;
    
    $('html, body').stop().animate({
        scrollTop: $(window).scrollTop() - (distance * delta)
    }, time );
}
	</script>
</html>
