<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>SPVFree</title>
    <link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width:720px)" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 720px)" />
  </head>

  <body>
    <div id="bigcenter">
      <div id = "result"> <h1>Thanks for registering</h1>
        <h1>{{.Name}}</h1>
        <h2> We've sent an email to {{.Email}} - please follow instructions in email.</h2>
      </div>
    </div>
    </br></br></br>
    <a class="btn" href="/how">How it Works</a>
  </body>
</html>
